<div id="add-form-container" class="container">
    <div class="col-md-12">
        <h1 class="text-center">Divulgue a vaga preenchendo o formulário</h1>
    </div>
    <div id="form-box" class="col-md-12">
        <h2>Preencha todas as informações para encontrar mais rápido o desenvolvedor</h2>
        <form action="/jobs/add" method="POST">
            <div class="form-group">
                <label for="title">Título da vaga:</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Digite o título da vaga" required>
                <small id="titleHelp" class="form-text text-muted">O título é muito importante, seja claro e objetivo</small>
            </div>
            <div class="form-group">
                <label for="description">Descrição da vaga:</label>
                <textarea type="text" class="form-control" id="description" name="description" placeholder="Digite a descrição da vaga" required></textarea>
                <small id="descriptionHelp" class="form-text text-muted">Utilize palavras chave para indicar as competências</small>
            </div>
            <div class="form-group">
                <label for="company">Empresa:</label>
                <input type="text" class="form-control" id="company" name="company" placeholder="Digite o nome da empresa" required>
            </div>
            <div class="form-group">
                <label for="salary">Salário:</label>
                <input type="text" class="form-control" id="salary" name="salary" placeholder="Digite o valor do salário" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Digite o e-mail" required>
            </div>
            <input type="hidden" name="new_job" value="1">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</div>